<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookadmin.mapper.BookMapper">
    <select id="selectAllBook" resultType="com.bookadmin.entity.po.Book">
        select * from book
    </select>

    <insert id="addBook">
        insert into book(bname,bauthor,bpublisher,bcount,available)
        values (#{bName},#{bAuthor},#{bPublisher},#{bCount},#{available})
    </insert>

    <update id="updateBook">
        update book set bname = #{bName},bauthor = #{bAuthor},bpublisher = #{bPublisher},bcount = #{bCount},available = #{available}
        where id = #{id}
    </update>

    <delete id="deleteBook">
        delete from book
        where id = #{id}
    </delete>
</mapper>